# Xcode
.DS_Store
*.swp
*.lock
profile
*.tmp
*.old
*.backup
*.orig
.Trashes
*~.nib
local.properties
.settings/
.loadpath
.project
.metadata
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
*.xcodeproj
DerivedData/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Accio dependency management
Dependencies/
.accio/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output 